.follow
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.followpage
{
    display: flex;
    color: #959b9d;
    gap: 10px;
    align-items: center;
}
hr
{
    background-color: #b9c1c3;
    width: 100px;
    height: 1px;
    border: none;
}
.imagesslink
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.licont img{
    width: 50px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
}